# requirements.txt

# Web framework
fastapi==0.111.0
uvicorn[standard]==0.29.0      # ASGI server that runs FastAPI

# Data validation
pydantic==2.7.1
pydantic-settings==2.2.1       # For loading .env into config

# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9         # PostgreSQL driver for Python
alembic==1.13.1                # Database migrations (we'll use this in Day 3)

# Authentication
python-jose[cryptography]==3.3.0   # JWT tokens
passlib[bcrypt]==1.7.4             # Password hashing

# PDF parsing (Week 1 Day 4)
pymupdf==1.24.3

# ML (Week 2)
scikit-learn==1.4.2
numpy==1.26.4

# DL (Week 3)
sentence-transformers==2.7.0

# File upload support
python-multipart==0.0.9

# Environment variables
python-dotenv==1.0.1

email-validator==2.1.1
requests==2.31.0

faiss-cpu==1.8.0